:root {
    --lightgrey: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}




body {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

p,
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    background-color: hsl(216, 50%, 16%);
    width: max(220px, 14%);
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    padding: 20px;

}

.image {
    position: relative;
}

.photo {
    width: max(220px, 14%);
    border-radius: 7px;
}



.eye {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(178, 100%, 50%, 0.2);
    border-radius: 7px;
}

.eye-pic {
    display: block;
    margin: auto;
    margin-top: 90px;
    width: 35px;

}

.image:hover .eye {
    opacity: 1;

}

.image:hover {
    cursor: pointer;
}

.card-body {
    text-align: left;
    width: max(220px, 14%);
}

/*************** CURRENCY INFORMATIONS ***************/

.currency-name {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 16px;
}

.currency-name:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.description {
    color: var(--lightgrey);
    font-weight: 100;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 8px;
}



/*************** PRICE & TIME ***************/

.body-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

/*************** price  ***************/
.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eth-logo {
    width: 9px;
    margin-right: 4px;
}

.price {
    color: var(--Cyan);
    font-size: 12px;
}

/*************** time  ***************/

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 13px;
    margin-right: 4px;
}

.remaining-time {
    font-size: 12px;
    color: var(--lightgrey);
}

/*************** FOOTER  ***************/

.footer {
    width: max(220px, 14%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.creator-pic {
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.creator {
    font-size: 13px;
    font-weight: 300;
    color: var(--lightgrey);
}

.creator-name {
    color: white;
}

.creator-name:hover {
    cursor: pointer;
    color: var(--Cyan);
}